<ion-header>
  <ion-navbar>
    <ion-title>
      Accelerometers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <canvas #MyChart></canvas>
  </div>

  <div>
    <span #StartTime>Start</span>
    <span #RecordedValues>values</span>
  </div>

  <button ion-button (click)="Clear()">Clear</button>
  <button ion-button (click)="Save()">Save To File</button>
</ion-content>